* {
  box-sizing: border-box;
}

/* Style the search field */
form.form-style input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.form-style-1 input[type=text] {
  padding: 8px;
  font-size: 17px;
  border: 1px solid grey;
  width: 80%;
  background: #f1f1f1;
  border-radius: 5px;
}


/* Style the submit button */
form.form-style button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.form-style button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.form-style::after {
  content: "";
  clear: both;
  display: table;
}


button {
    width: 80%;
    padding: 8px;
    background: #dc3545;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
  }

  .form-style-1 {
    background-color: silver;
    width: 90%;
    text-align: center;
    padding-bottom: 1rem;
    border-radius: 7px;
  }

  /* header */ 
.background-image {
  background-image: url(https://www.expat.com/images/destinations-pictures/cameroon-hero_size-t1448621766.jpg);
  height: 600px;
  max-width: 100%;
  background-size: cover;
}

.list-deco a {
  text-decoration: none;
  list-style: none; 
}

ul li {
  display: inline;
}

.box-works {
  background-color: silver;
  width: 8rem;
  margin-top: 2rem;
  margin-left: 1.5rem;
  text-align: center;
}

/* main content */

.main-header {
  text-align: center;
} 

.main-background-color1 {
 background-color: coral;
}

.main-background-color2 {
  background-color: lightslategrey;
 }

 .main-background-color3 {
  background-color: steelblue;
 }

 /* .art-main {
   text-align: center;
 } */

.button-link {
  color: coral;
  background-color: white;
  text-align: center;
 }

.button-link1 {
  color: lightslategray;
  background-color: white;
  text-align: center;
 }
